@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--colorBlack);
    font-family: var(--headingFont);
}

p,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: var(--paraColor);
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--paraFont);
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
}

:root {
    --colorPrimary: #7116DB;
    --paraColor: #646464;
    --colorBlack: #140E1C;
    --colorWhite: #ffffff;
    --sectionbg: #FCF6FF;
    --paraFont: 'Roboto', sans-serif;
    --headingFont: 'Inter', sans-serif;
    --boxShadow: 2px 3px 50px rgba(188, 188, 188, 0.25);

}

/* =============================
    COMMON CSS START
============================= */
.common_btn {
    background: var(--colorPrimary);
    color: var(--colorWhite) !important;
    padding: 13px 30px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.common_btn::after {
    position: absolute;
    content: "\f30b";
    color: var(--colorWhite);
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 25px;
    text-align: center;
    background: var(--colorPrimary);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(.5);
    opacity: 0;
    transform-origin: left;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    -webkit-transform: scaleX(.5);
    -moz-transform: scaleX(.5);
    -ms-transform: scaleX(.5);
    -o-transform: scaleX(.5);
}

.common_btn:hover::after {
    transform: scaleX(1);
    opacity: 1;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}

.TF__heading {
    text-align: center;
    margin-bottom: 68px;
}

.TF__heading h5 {
    font-family: var(--headingFont);
    color: var(--colorPrimary);
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.TF__heading h2 {
    font-family: var(--headingFont);
    color: var(--colorBlack);
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0;
}

.TF__heading p {
    font-family: var(--paraFont);
    color: var(--paraColor);
    font-size: 16px;
    font-weight: 400;
    padding: 0 40px;
}

/* =============================
    COMMON CSS END
============================= */


/* =============================
    MENU START
============================= */
.main_menu {
    width: 100%;
    height: 90px;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid #eee;
    z-index: 999;
    transition: all linear .3s;
}

.main_menu .navbar-brand {
    margin: 0;
    padding: 0;
    max-width: 180px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .navbar-nav .nav-item {
    position: relative;
}

.main_menu .navbar-nav .nav-item .nav-link {
    color: var(--colorBlack);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0px 15px;
    line-height: 90px;
    font-family: var(--headingFont);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .navbar-nav .nav-item .nav-link i {
    margin-left: 5px;
}

.main_menu .navbar-nav .nav-item .nav-link:hover,
.main_menu .navbar-nav .nav-item .nav-link.active {
    color: var(--colorPrimary);
}

.TF__droap_menu {
    position: absolute;
    width: 250px;
    max-height: 500px;
    top: 120%;
    left: 0;
    background: var(--colorWhite);
    box-shadow: var(--boxShadow);
    overflow: hidden;
    overflow-y: auto;
    line-height: 50px;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.TF__droap_menu::-webkit-scrollbar {
    scrollbar-width: thin !important;
    background: var(--paraColor);
    width: 6px;
}

.TF__droap_menu::-webkit-scrollbar-thumb {
    background: var(--colorPrimary);
}

.TF__droap_menu li a {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: var(--colorBlack);
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    position: relative;
    border-bottom: 1px solid #eee;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.TF__droap_menu li a::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 2px;
    background: var(--colorPrimary);
    top: 50%;
    left: 0;
    opacity: .1;
    transform: translateY(-50%);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.TF__droap_menu li a::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--colorPrimary);
    top: 50%;
    left: 8px;
    opacity: .1;
    transform: translateY(-50%);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.TF__droap_menu li a:hover::after {
    width: 20px;
    opacity: 1;
}

.TF__droap_menu li a:hover::before {
    opacity: 1;
    left: 15px;
}

.TF__droap_menu li:last-child a {
    border: 0;
}

.TF__droap_menu li a:hover {
    color: var(--colorPrimary);
    padding-left: 30px;
}

.main_menu .navbar-nav .nav-item:hover .TF__droap_menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.TF__right_menu li a {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    color: var(--colorBlack);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.TF__right_menu li a i {
    margin-right: 6px;
    border-right: 3px solid var(--colorBlack);
    padding-right: 9px;
    color: var(--colorPrimary);
}

.TF__right_menu li:first-child a:hover,
.TF__right_menu li:first-child a:hover i {
    color: var(--colorPrimary);
    border-color: var(--colorPrimary);
}

.main_menu.menu_fix {
    background: var(--colorWhite);
    height: 70px;
}

.menu_fix .navbar-brand {
    max-width: 160px;
}

/* =============================
    MENU END
============================= */


/* =============================
    BANNER START
============================= */
.TF__banner {
    padding-top: 90px;
    height: 100vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.TF__banner div {
    height: 100%;
}

.TF__banner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.TF__banner_text h5 {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--colorPrimary);
    margin-bottom: 30px;
}

.TF__banner_text h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
}

.TF__banner_text p {
    margin-top: 20px;
    margin-bottom: 60px;
}

.TF__banner_img {
    display: flex;
    justify-content: end;
    align-items: center;
}

.TF__banner_img img {
    width: 100% !important;
    height: 500px !important;
}

/* =============================
    BANNER END
============================= */



/* =============================
    BARND START
============================= */
.TF__barnd {
    position: relative;
}

.TF__barnd .TF__brand_img {
    width: 145px;
    padding: 0 12px;
}

.TF__barnd .brand_slider .prevArrow {
    position: absolute;
    left: -70px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--colorPrimary);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: var(--colorPrimary);
    transition: all linear .3s;
}

.TF__barnd .brand_slider .nextArrow {
    position: absolute;
    right: -70px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--colorPrimary);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: var(--colorPrimary);
    transition: all linear .3s;
}

.TF__barnd .brand_slider .prevArrow:hover,
.TF__barnd .brand_slider .nextArrow:hover {
    background: var(--colorPrimary);
    color: var(--colorWhite);
}


/* =============================
    BARND END
============================= */


/* =============================
    SERVICE START
============================= */

.TF__service .TF__service_item {
    box-shadow: var(--boxShadow);
    border-radius: 10px;
    padding: 35px;
    transition: all linear .3s;
    margin: 12px 0;
}


.TF__service .TF__service_item:hover {
    background: var(--colorPrimary);
}

.TF__service .TF__service_item:hover i,
.TF__service .TF__service_item:hover h3,
.TF__service .TF__service_item:hover p,
.TF__service .TF__service_item:hover ul li,
.TF__service .TF__service_item:hover a,
.TF__service .TF__service_item:hover ul li::after,
.TF__service .TF__service_item:hover .TF_service_item_icon i {
    color: var(--colorWhite);
}

.TF__service .TF__service_item .TF_service_item_icon {
    margin-right: 10px;
}

.TF__service .TF__service_item .TF_service_item_icon i {
    color: var(--colorPrimary);
}

.TF__service .TF__service_item h3 {
    font-family: var(--headingFont);
    font-size: 20px;
    font-weight: 700;
    color: var(--colorBlack);
    text-transform: capitalize;
}

.TF__service .TF__service_item p {
    font-family: var(--paraFont);
    font-size: 16px;
    font-weight: 400;
    color: var(--paraColor);
    margin-top: 15px;
}

.TF__service .TF__service_item ul {
    margin-top: 15px;
}

.TF__service .TF__service_item ul li {
    position: relative;
    padding-left: 30px;
    font-family: var(--paraFont);
    font-size: 16px;
    color: var(--paraColor);
    font-weight: 400;
    line-height: 26px;
}

.TF__service .TF__service_item ul li::after {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Font Awesome 5 free';
    content: '\f058';
    color: var(--colorPrimary);
}

.TF__service .TF__service_item a {
    font-family: var(--paraFont);
    color: var(--colorBlack);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 20px;
}

.TF__service .TF__service_item a i {
    margin-left: 10px;
    transition: all linear .3s;
}

.TF__service .TF__service_item a:hover i {
    margin-left: 15px;
}

/* =============================
    SERVICE END
============================= */




/* =============================
    ABOUT START
============================= */

.TF__about{
    margin-top: 108px;
    padding: 120px 0;
    background: var(--sectionbg);
}

.TF__about .TF__about_wraper h5{
    font-family: var(--headingFont);
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--colorPrimary);
}

.TF__about .TF__about_wraper h2{
    font-family: var(--headingFont);
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    line-height: 50px;
    color: var(--colorBlack);
}

.TF__about .TF__about_wraper p{
    font-family: var(--paraFont);
    font-weight: 400;
    font-size: 16px;
    color: var(--paraColor);
    line-height: 26px;
}

.TF__about .TF__in_wraper{
    display: flex;
}

.TF__about .TF__in_wraper .TF__in_item{
    margin: 20px 20px 0px 0px;
    background-color: var(--colorWhite);
    padding: 25px;
    border-radius: 4px;
}

.TF__about .TF__in_wraper .TF__in_item span{
    font-family: var(--headingFont);
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: var(--colorBlack);
}

.TF__about .TF__in_wraper .TF__in_item span i{
    color: var(--colorPrimary);
    margin-right: 8px;
}

.TF__about .TF__in_wraper .TF__in_item p{
    font-family: var(--paraFont);
    font-size: 16px;
    font-weight: 400;
}

.TF__about a{
    margin-top: 50px;
}

/* =============================
    ABOUT END
============================= */



/* =============================
    COUNTER START
============================= */

.TF__counter{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    padding: 120px 0;
}

.TF__counter .TF_counter_item{
    text-align: center;
}

.TF__counter .TF_counter_item span{
    font-family: var(--headingFont);
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--colorWhite);
}

.TF__counter .TF_counter_item span.plus{
    position: relative;
    margin-left: -30px;
}

.TF__counter .TF_counter_item span.plus::after{
    position: absolute;
    content: '+';
}

.TF__counter .TF_counter_item p{
    font-family: var(--paraFont);
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--colorWhite);
}

/* =============================
    COUNTER END
============================= */



/* =============================
    WORK START
============================= */

.TF__work{
    margin-top: 120px;
}

.TF__work .TF__work_wraper .TF_work_item_wraper{
    display: flex;
}


.TF__work .TF__work_wraper .TF_work_item_wraper .TF_work_content{
    width: 480px;
    margin-top: 90px;
    position: relative;
}

.TF__work .TF__work_wraper .TF_work_item_wraper .TF_work_content img{
    position: absolute;
}

.TF__work .TF__work_wraper .TF_work_item_wraper .TF_work_content h4{
    font-family: var(--headingFont);
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--colorBlack);
}

.TF__work .TF__work_wraper .TF_work_item_wraper .TF_work_content p{
    font-family: var(--paraFont);
    font-size: 16px;
    font-weight: 400;
    color: var(--paraColor);
    margin-top: 20px;
    line-height: 26px;
}


.TF__work .TF__work_wraper .TF_work_item_wraper .TF_work_content ul{
    margin-top: 20px;
}

.TF__work .TF__work_wraper .TF_work_item_wraper .TF_work_content ul li{
    font-family: var(--paraFont);
    font-size: 16px;
    font-weight: 400;
    color: var(--paraColor);
    position: relative;
    padding-left: 30px;
    line-height: 26px;
}

.TF__work .TF__work_wraper .TF_work_item_wraper .TF_work_content ul li::after{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Font Awesome 5 free';
    content: '\f058';
    color: var(--colorPrimary);
}

.TF__work .TF__work_wraper .TF_work_item_wraper .TF_work_img{
    width: 405px;
}


.TF__work .TF__work_wraper .TF_work_item_wraper .TF_work_img img{
    width: 405px;
}

/* =============================
    WORK END
============================= */



/* =============================
    PORTFOLIO START
============================= */

.TF__portfolio .TF_portfolio_item{
    position: relative;
    margin: 12px 0;
}

.TF__portfolio .TF_portfolio_item img{
    border-radius: 20px;
}

.TF__portfolio .TF_portfolio_item .overly{
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(113, 22, 218, 0.8);
    border-radius: 20px;
    text-align: center;
    opacity: 0;
    display: none;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.TF__portfolio .TF_portfolio_item .overly .overly_text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.TF__portfolio .TF_portfolio_item .overly i{
    width: 65px;
    height: 65px;
    background: var(--colorWhite);
    color: var(--colorPrimary);
    border-radius: 50%;
    text-align: center;
    line-height: 65px;
    font-size: 20px;
}

.TF__portfolio .TF_portfolio_item .overly p{
    font-family: var(--headingFont);
    font-size: 16px;
    font-weight: 500;
    color: var(--colorWhite);
    text-transform: capitalize;
    margin-top: 10px;
}

.TF__portfolio .TF_portfolio_item .overly h5{
    font-family: var(--headingFont);
    font-size: 24px;
    font-weight: 600;
    color: var(--colorWhite);
    text-transform: capitalize;
    margin-top: 10px;
}

.TF__portfolio .TF_portfolio_item:hover .overly{
    opacity: 1;
    display: inline;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
/* =============================
    PORTFOLIO END
============================= */

























/* =============================
    START
============================= */

/* =============================
    END
============================= */