@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--colorBlack);
    font-family: var(--headingFont);
}

p,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: var(--paraColor);
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--paraFont);
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
}

:root {
    --colorPrimary: #7116DB;
    --paraColor: #646464;
    --colorBlack: #140E1C;
    --colorWhite: #ffffff;
    --paraFont: 'Roboto', sans-serif;
    --headingFont: 'Inter', sans-serif;
    --boxShadow: 2px 3px 50px rgba(188, 188, 188, 0.25);

}

/* =============================
    COMMON CSS START
============================= */

/* =============================
    COMMON CSS END
============================= */




















/* =============================
    START
============================= */

/* =============================
    END
============================= */